- content_for :head do
  = javascript_include_tag("job_postings/new")

- semantic_form_for @job_posting do |form|

  - form.inputs do
    %h3 1. What kind of job is it?
    = form.input :title, :label => "Job title", :input_html => { :placeholder => "Senior Web Designer" }
    = form.input :category, :as => :radio, :collection => ["Design", "Development", "Copywriting", "Management"]
    = form.input :job_type, :as => :radio, :collection => ["Freelancer", "Employee"], :label => "Position"
    = form.input :payment_type, :as => :radio, :collection => ["Hourly", "Salary"], :label => "Payment"
    = form.input :contract_term_length, :wrapper_html => {:class => "term-slider"}
    = form.input :description, :label => "Job description"
    
  - form.inputs do
    %h3 Tell us about your company
    = form.input :company_name
    = form.input :hiring_criteria
    = form.input :how_to_apply

  = form.input :first_name
  = form.input :last_name
  = form.input :email_address
  = form.input :street_address1, :label => "Address"
  = form.input :street_address2, :label => "Address 2"
  = form.input :city
  = form.input :state
  = form.input :country
  = form.input :phone_number

  = form.semantic_fields_for @credit_card do |cc_form|
    = cc_form.input :number
    = cc_form.input :month
    = cc_form.input :year
    = cc_form.input :cvv

  = form.buttons
