#create-a-job
  #posting-preview
    %h3 Here's a preview of your posting
    
  = render "shared/error_messages", :target => @job_posting

  = semantic_form_for @job_posting do |form|
    = form.inputs do
      %h3 1. What kind of job is it?
      = form.input :title, :label => "Job title", :input_html => { :placeholder => "Senior Web Designer" }
      = form.input :category, :as => :radio, :collection => ["Development", "Design", "Copywriting", "Management"]
      = form.input :job_type, :as => :radio, :collection => ["Freelancer", "Employee"], :label => "Position"
      = form.input :payment_type, :as => :radio, :collection => ["Hourly", "Salary"], :label => "Payment"
      = form.input :contract_term_length, :label => "Job term", :input_html => { :placeholder => "6 months" }
      = form.input :description, :label => "Job description", :wrapper_html => { :class => "textarea" }
      = render "formatting_help"
    
    = form.inputs do
      %h3 2. Tell us about your company
      = form.input :company_name, :label => "Company Name", :wrapper_html => { :class => "full-width-label" }
      = form.input :company_url, :label => "Company URL", :input_html => { :placeholder => "http://yoursite.com" }, :wrapper_html => { :class => "full-width-label" }
      = form.input :hiring_criteria, :wrapper_html => { :class => "textarea" }
      = form.input :how_to_apply, :wrapper_html => { :class => "textarea" }
    
    = form.inputs do
      %h3 3. What's your email address?
      %p
        We need your email so we can send you a super secret link to edit/update/delete this post later.
        Don't worry, you won't have to remember yet another password.
        And we *will not* give away your email address.
      = form.input :email_address, :label => "Your Email"

    = form.buttons do
      - if @job_posting.new_record? || !@job_posting.enabled?
        = form.commit_button "Preview Job"
      - else    
        = form.input :uid, :as => :hidden
        = link_to "Remove posting", "/disable/#{@job_posting.uid}", :method => :delete, :class => "remove", :confirm => "Are you sure you want to remove this posting?"
        = form.commit_button "Save Job"
