#create-a-job
  #posting-preview
    %h3 Here's a preview of your posting
    
  = render "shared/error_messages", :target => @job_posting

  - options = {}
  - if @job_posting.new_record? || !@job_posting.enabled?
    - options[:url] = preview_path
    - options[:method] = :post
  = semantic_form_for @job_posting, options do |form|
    = form.inputs do
      %h3 1. What kind of job is it?
      = form.input :title, :label => "Job title", :input_html => { :placeholder => "Senior Web Designer" }
      = form.input :category, :as => :radio, :collection => ["Development", "Design", "Copywriting", "Management"]
      = form.input :job_type, :as => :radio, :collection => ["Freelancer", "Employee"], :label => "Position"
      = form.input :payment_type, :as => :radio, :collection => ["Hourly", "Salary"], :label => "Payment"
      = form.input :contract_term_length, :label => "Job term", :input_html => { :placeholder => "6 months" }
      = form.input :description, :label => "Job description", :wrapper_html => { :class => "textarea" }
      = render "formatting_help"
    
    = form.inputs do
      %h3 2. Tell us about your company
      = form.input :company_name, :label => "Name"
      = form.input :company_url, :label => "URL", :input_html => { :placeholder => "http://yoursite.com" }
      = form.input :hiring_criteria, :wrapper_html => {:class => "textarea"}
      = form.input :how_to_apply, :wrapper_html => {:class => "textarea"}
    
    - if @job_posting.new_record? || !@job_posting.enabled?
      = form.inputs do
        %h3 3. Payment information (SSL secured)
        .credit-card-info
          = form.semantic_fields_for :credit_card do |cc_form|
            = cc_form.input :number, :label => "CC number"
            = cc_form.input :month, :label => "Exp. month", :as => "select", :collection => (1..12)
            = cc_form.input :year, :label => "Exp. year", :as => "select", :collection => (Date.today.year..Date.today.year+10).to_a
            = cc_form.input :cvv, :label => "CVV code"
          .explanation
            %h3 Why do we need this information?
            %p We need your email address so we can send you a secret link to edit/delete this job listing or renew it if its 30 days runs out.
            %p We need your name, address and phone number in order to bill your credit card.
        
            %h3 We don't store your credit card.
            %p Don't worry!  We securely charge your card a one-time $75 fee.  We don't retain your credit card information so it can't be stolen!
    
        .personal-info
          = form.input :first_name
          = form.input :last_name
          = form.input :email_address, :label => "Email"
          = form.input :street_address1, :label => "Street"
          = form.input :street_address2, :label => "Apt/Suite"
          = form.input :city
          = form.input :state, :input_html => { :placeholder => "NY" }
          = form.input :country
          = form.input :phone_number, :input_html => { :placeholder => "555-555-5555", :class => "phone-mask" }, :label => "Phone #"
    - else
      = form.input :uid, :as => :hidden

    = form.buttons do
      - if @job_posting.new_record? || !@job_posting.enabled?
        = form.commit_button "Preview Job"
      - else    
        = link_to "Remove posting", "/disable/#{@job_posting.uid}", :method => :delete, :class => "remove", :confirm => "Are you sure you want to remove this posting?"
        = form.commit_button "Save Job"
