%li.job
  %a{:href => job_posting_path(job_posting) }
    .new
      - if job_posting.created_at > Time.now - 1.day
        new
    .title= truncate(job_posting.title, :length => 30)
    .company= truncate(job_posting.company_name, :length => 25)
    .tags
      .category= job_posting.category
      .job_type= job_posting.job_type
      .payment_type= job_posting.payment_type
      .term= job_posting.contract_term_length
    .date= created_at_for job_posting