%li.job
  %a{:href => job_posting_path(job_posting) }
    .new
      - if job_posting.created_at > Time.now - 1.day
        new
    .title= job_posting.title
    .company= job_posting.company_name
    .tags
      .category= job_posting.category
      .job_type= job_posting.job_type
      .payment_type= job_posting.payment_type
      .term= term_for job_posting
    .date= created_at_for job_posting

