- content_for :head do
  = javascript_include_tag "job_postings/index"
  
- content_for :header do
  #add-a-job
    .price $75
    %a{:href => new_job_posting_path}
      %strong + add
      a job

%ul#category-chooser
  
  %li.all= link_to_active("all jobs", root_path)
  %li.design= link_to_active("design", "/design")
  %li.development= link_to_active("development", "/development")
  %li.copywriting= link_to_active("copywriting", "/copywriting")
  %li.management= link_to_active("management", "/management")
  
  %li.missing= link_to_active("missing one?", "/missing")


#jobs-list

  %header
    %h3 Helping you find a job you'll love!
    .search
      = form_tag 'search' do
        = text_field_tag :query, "", :placeholder => "search..."
        = submit_tag "search"
    
  .filter
    %ul.job_type
      %li
        = label_tag :freelancer, "freelancer", :class => "clickable checked"
        = check_box_tag :freelancer
      %li
        = label_tag :employee, "employee", :class => "clickable checked"
        = check_box_tag :employee
    %ul.payment_type
      %li
        = label_tag :hourly, "hourly", :class => "clickable checked"
        = check_box_tag :hourly
      %li
        = label_tag :salary, "salary", :class => "clickable checked"
        = check_box_tag :salary
    .term
      .min
        at least
        %span#min-value.value
        long
        #min-slider
      .max
        no more than
        %span#max-value.value
        long
        #max-slider
  
  %ul.jobs
    = render :partial => "job_posting", :collection => @job_postings
