- content_for :head do
  = javascript_include_tag "job_postings/index"

= render "add_a_job"

#filters
  .category
    %h3 Job Categories
    = label_tag :design, "Design", :class => "clickable checked", :id => "design"
    = label_tag :development, "Development", :class => "clickable checked", :id => "development"
    = label_tag :copywriting, "Copywriting", :class => "clickable checked", :id => "copywriting"
    = label_tag :management, "Management", :class => "clickable checked", :id => "management"
  .job_type
    %h3 Type of Job
    = label_tag :freelancer, "Freelancer", :class => "clickable checked", :id => "freelancer"
    = label_tag :employee, "Employee", :class => "clickable checked", :id => "employee"
  .payment_type
    %h3 Type of Pay
    = label_tag :hourly, "Hourly", :class => "clickable checked", :id => "hourly"
    = label_tag :salary, "Salary", :class => "clickable checked", :id => "salary"

#jobs-list
  %header
    %h3 Helping you find a job you'll love!
    #search
      = form_tag 'search' do
        = text_field_tag :query, "", :placeholder => "search..."
        = submit_tag ""
  #paper
  #coupons
    Early adopters get a coupon code for a free post! Email
    = mail_to("evan@remote-jobs.com","evan@remote-jobs.com")
  %ul#jobs
    - if @job_postings.empty?
      %li.no-results Sorry, no jobs were found.
    - else
      = render :partial => "job_posting", :collection => @job_postings

  #coffee-stain
  #pad-bottom
  #spinner
  #pencil
  
= render 'set_filter_values'