= render "shared/error_messages", :target => @job_posting

- unless @job_posting.enabled?

  = semantic_form_for @job_posting, :method => :put, :url => "/publish/#{@job_posting.uid}" do |job_form|
    = job_form.input :uid, :as => :hidden
      
    .publish-it.clearfix
      %h3 Check your post below. Happy with it? Publish it!
      = submit_tag "Publish Job"

.job-details
  = render :partial => "details", :object => @job_posting
