= render "add_a_job"

.back= link_to("Back to jobs", root_path)

.job-details

  %h1.title= @job_posting.title
  .secondary
    %h2.company
      - if @job_posting.company_url.blank?
        = @job_posting.company_name
      - else
        = link_to(@job_posting.company_name, @job_posting.company_url)
    .date Posted on #{created_at_for @job_posting}
    
  .clear

  %ul.text

    %li.description
      %h3 A little about this job
      = auto_link(render_markdown_to_html(@job_posting.description).html_safe)

    %li.hiring_criteria
      %h3 What we're looking for
      = auto_link(render_markdown_to_html(@job_posting.hiring_criteria).html_safe)

    %li.how_to_apply
      %h3 How to apply
      = auto_link(render_markdown_to_html(@job_posting.how_to_apply).html_safe)
  
  .sidebar
    %ul.tags

      %li.category
        = link_to(@job_posting.category, polymorphic_path(@job_posting.category.downcase))

      %li.job_type
        = @job_posting.job_type

      %li.payment_type
        = @job_posting.payment_type

      - if @job_posting.contract_term_length
        %li.term
          = show_term_for @job_posting

    %ul.actions
      %li
        = link_to("Email this job", "mailto:?subject=#{@job_posting.title}", :class => "email")
      %li
        = link_to("Tweet this job", "http://twitter.com/home?status=#{@job_posting.title} - #{job_posting_url(@job_posting)}", :class => "tweet")