!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "Jobs for the remote worker." }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "jobs, remote, freelance, board, design, development, employee, hourly, salary" }
    %link{ :id => 'favicon', :href => '/images/favicon.png', :rel => 'icon', :type => 'image/x-icon' }
    = csrf_meta_tag
    %title
      Remote Jobs
      
    = javascript_include_tag "jquery-1.4.3.min", "jquery-ui-1.8.6.min", "jquery.maskedinput-1.2.2.min", "underscore-min", "rails", "application"
    / [if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    
    = stylesheet_link_tag "jquery-ui-1.8.6", "fonts", "reset", "styles"
    
    /[if lt IE 8]
      = stylesheet_link_tag "ie"
    /[if lt IE 7]
      = stylesheet_link_tag "ie6"

    = yield :head
    
  %body
    #wrap
      #main.clearfix
        %header
          .insides
            %h1= link_to("remote jobs", root_path, :id => "logo")
            %h2#our-story
              = link_to("the story behind remote jobs", story_path)
            
            = yield :header
            
        #mid
          .insides
            = yield

    #ie6_pwnage
      = "We've noticed you're using a pretty old browser and we're sad that you're missing out on so much!"
      %strong= "Please upgrade to one of these free browsers:"
      %ul
        %li
          %a{:href=>'http://getfirefox.com'} Firefox
        %li
          %a{:href=>'http://google.com/chrome'} Chrome
        %li
          %a{:href=>'http://www.microsoft.com/windows/internet-explorer/default.aspx'} Internet Explorer

    #footer
      .insides
        .copyright Copyright © 2010 - #{link_to("Triple Dog Dare", "http://tripledogdare.net/")} &amp; #{link_to("Two Guys", "http://twoguys.us")}
        .links
          = link_to("Privacy Policy", privacy_path)
          = link_to("Refunds", refunds_path)

    =# render "analytics"
    = yield :javascript
